@import 'variables';

hr {
    border: none;
    height: 2px;
    background: $gray-200;
}

input,
select,
textarea {
    display: inline-block;
    min-height: 40px;
    font-size: 16px;
    padding: 10px 0;
    outline: none !important;
    border: none;
    border-radius: 0 !important;
    background: transparent;

    border-bottom: 3px solid $light;
    transition: border-color .3s;

    resize: vertical;

    &:hover {
        border-color: $gray-500;
    }

    &:focus {
        border-color: $primary;
    }
}

.form-group {
    margin: 30px 0;

    label {
        font-size: 14px;
        color: $secondary;
    }
}

.form-control {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    color: $text-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    outline: none !important;
    border: none;

    text-decoration: none !important;

    font-size: 16px;
    padding: 7px 15px;
    background: $light;

    transition: .3s;

    &:hover,
    &:focus,
    &:active {
        color: $primary;
    }

    &:active {
        transform: scale(.9);
        transition: .05s;
    }

    &-primary {
        background: $primary;
        color: $white;

        &:hover,
        &:focus,
        &:active {
            background: darken($primary, 10);
            color: $white;
        }
    }
}
