@import 'variables';

.main-logo {
    span {
        @for $i from 1 through 5 {
            &:nth-child(5n + #{$i}) {
                animation: main-logo-anim-#{$i} 5s linear infinite;
            }
        }
    }
}

@keyframes main-logo-anim-1 {
    0%, 100% {
        color: $logo-color-1;
    }
    20% {
        color: $logo-color-2;
    }
    40% {
        color: $logo-color-3;
    }
    60% {
        color: $logo-color-4;
    }
    80% {
        color: $logo-color-5;
    }
}

@keyframes main-logo-anim-2 {
    0%, 100% {
        color: $logo-color-5;
    }
    20% {
        color: $logo-color-1;
    }
    40% {
        color: $logo-color-2;
    }
    60% {
        color: $logo-color-3;
    }
    80% {
        color: $logo-color-4;
    }
}

@keyframes main-logo-anim-3 {
    0%, 100% {
        color: $logo-color-4;
    }
    20% {
        color: $logo-color-5;
    }
    40% {
        color: $logo-color-1;
    }
    60% {
        color: $logo-color-2;
    }
    80% {
        color: $logo-color-3;
    }
}

@keyframes main-logo-anim-4 {
    0%, 100% {
        color: $logo-color-3;
    }
    20% {
        color: $logo-color-4;
    }
    40% {
        color: $logo-color-5;
    }
    60% {
        color: $logo-color-1;
    }
    80% {
        color: $logo-color-2;
    }
}

@keyframes main-logo-anim-5 {
    0%, 100% {
        color: $logo-color-2;
    }
    20% {
        color: $logo-color-3;
    }
    40% {
        color: $logo-color-4;
    }
    60% {
        color: $logo-color-5;
    }
    80% {
        color: $logo-color-1;
    }
}
