// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//$logo-color-1: #8EA604;
//$logo-color-2: #F5BB00;
//$logo-color-3: #EC9F05;
//$logo-color-4: #D76A03;
//$logo-color-5: #BF3100;

$logo-color-1: #DB2B39;
$logo-color-2: #29335C;
$logo-color-3: #F3A712;
$logo-color-4: #F0CEA0;
$logo-color-5: #534D41;