// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

@import 'logo-cat';
@import 'logo-text';
@import 'welcome';
@import 'layout';
@import 'card';
@import 'pagination';
@import 'forms';

html, body {
    font-family: Nunito, Roboto, sans-serif;
    color: $text-color;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.btn-link,
a {
    text-decoration: none;
    color: $text-color;
    transition: .3s;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $logo-primary;
    }

    &:active {
        color: $logo-secondary;
        transition: 0s;
    }
}

.container {
    max-width: 800px;
    margin: auto;
}

@each $index,$color in (
    'indigo': $indigo,
    'purple': $purple,
    'red': $red,

    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
) {
    .bg-#{$index} {
        background: $color;
    }
    .color-#{$index} {
        color: $color;
    }
}

@each $index,$color in (
    'blue': $blue,
    'pink': $pink,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
) {
    .bg-#{$index} {
        background: $color;
    }
    .color-#{$index} {
        color: darken($color, 30);
    }
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: $secondary;
    color: $white;
    border-radius: 50%;
    user-select: none;

    @each $index,$color in (
        'indigo': $indigo,
        'purple': $purple,
        'red': $red,
    ) {
        &--#{$index} {
            background: $color;
            color: lighten($color, 30);
        }
    }

    @each $index,$color in (
        'blue': $blue,
        'pink': $pink,
        'orange': $orange,
        'yellow': $yellow,
        'green': $green,
        'teal': $teal,
        'cyan': $cyan,
    ) {
        &--#{$index} {
            background: $color;
            color: darken($color, 30);
        }
    }

    &__initials {

    }

    &__name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 15px;
        line-height: 1;
    }
}

.select-users-list {
    max-height: 300px;
    overflow-y: auto;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.confirm-action {
    display: inline-block;
}
