// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

@import 'logo';

html, body {
    background-color: #fff;
    color: $secondary;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.welcome-screen {
    font-family: 'Nunito', sans-serif;

    .full-height {
        height: calc(100vh - 55px);
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        color: $secondary;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
}

@each $index,$color in (
    'indigo': $indigo,
    'purple': $purple,
    'red': $red,
) {
    .bg-#{$index} {
        background: $color;
    }
    .color-#{$index} {
        color: $color;
    }
}

@each $index,$color in (
    'blue': $blue,
    'pink': $pink,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
) {
    .bg-#{$index} {
        background: $color;
    }
    .color-#{$index} {
        color: darken($color, 30);
    }
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: $secondary;
    color: $white;
    border-radius: 50%;
    user-select: none;

    @each $index,$color in (
        'indigo': $indigo,
        'purple': $purple,
        'red': $red,
    ) {
        &--#{$index} {
            background: $color;
            color: lighten($color, 30);
        }
    }

    @each $index,$color in (
        'blue': $blue,
        'pink': $pink,
        'orange': $orange,
        'yellow': $yellow,
        'green': $green,
        'teal': $teal,
        'cyan': $cyan,
    ) {
        &--#{$index} {
            background: $color;
            color: darken($color, 30);
        }
    }

    &__initials {

    }

    &__name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 15px;
        line-height: 1;
    }
}
